<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>需要您的位置以顯示當地天氣資訊。</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
		<string>bluetooth-central</string>
	</array>
</dict>
</plist>
